/*banner图*/
div.bg_color_product_detail{
    background-image:url("../img/product_detail/bg1.jpg");
    background-repeat: no-repeat;
    background-size:960px 585px;
    width:100%;
    height:455px;
    position:relative;
}
div.bg_color_product_detail>img{
    width:650px;
    height:203px;
    position:absolute;
    top:150px;
    left:250px;
}
